.clr-row {
  width: 100%;
  padding: 12px 24px;
}

.filter-container {
  .categories {
    margin-bottom: 12px;

    h4 {
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 24px;
    }

    ul {
      list-style: none;

      li {
        cursor: pointer;
        border-bottom: 1px solid #f0f0f0;
        margin-bottom: 8px;

        &::before {
          display: inline-block;
          content: '';
          width: 9px;
          height: 9px;
          margin-right: 12px;
          border: 1px solid darkgoldenrod;
          border-radius: 50%;
        }

        &:hover,
        &.selected {
          color: darkgoldenrod;
        }
      }
    }
  }

  .other-filters {
    h4 {
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 18px;
    }

    h5 {
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 12px;
    }

    .price {
      .range {
        input,
        p {
          padding: 0 12px;
          width: 100%;
        }

        input {
          height: 2px;
          -webkit-appearance: none;
          outline: none;
          border-radius: 2px;
          background-color: darkgoldenrod;

          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #343a40;
          }
        }

        p {
          padding: 0 12px;
          width: 100%;
          text-align: right;
          color: #343a40;
          font-weight: bold;
        }
      }
    }

    .size {
      .sizes {
        button {
          width: 42px;
          height: 42px;
          background-color: white;
          border: 2px solid #343a40;
          border-radius: 50%;
          color: #343a40;
          font-weight: bolder;
          text-align: center;
          margin: 8px;

          &:hover,
          &.selected {
            color: white;
            background-color: #343a40;
          }
        }
      }
    }
  }
}
