:host {
  display: flex;
  justify-content: center;
  width: 100%;
}

.clr-row {
  width: 80%;

  ul {
    display: inline-block;
    text-align: center;
    list-style: none;

    li {
      button.btn {
        margin: 8px 18px;
        background-color: #ebebeb;
        border: none;
        border-radius: 31px;
        color: #343a40;
        font-weight: bold;

        &:hover,
        &.active {
          color: white;
          background-color: #343a40;
        }
      }
    }
  }
}
