:host {
  display: flex;
  justify-content: center;
  width: 100%;
}

.clr-row {
  width: 80%;

  ul {
    display: inline-block;
    text-align: center;
    list-style: none;

    li {
      button.btn {
        margin: 8px 18px;
        background-color: #ebebeb;
        border: none;
        border-radius: 31px;
        color: #343a40;
        font-weight: bold;
        box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
        transition: all 0.3s ease-in-out;

        &:hover,
        &.active {
          color: white;
          background-color: #343a40;
          box-shadow: rgba(0, 0, 0, 0.22) 0 19px 43px;
          transform: translate3d(0px, -1px, 0px);
        }
      }
    }
  }
}
