<div class="content-container">
  <div class="clr-row">
    <div class="clr-col-md-3">
      <div class="filter-container">
        <div class="categories">
          <h4>Categories</h4>
          <ul *ngIf="filterCategory | async as chosenCategory">
            <li
              [ngClass]="{ selected: chosenCategory === category }"
              (click)="onSelectCategory(category)"
              *ngFor="let category of categories | async"
            >
              {{ category }}
            </li>
          </ul>
        </div>
        <div class="other-filters">
          <h4>Refine by:</h4>

          <div class="price">
            <h5>Price</h5>
            <div class="range">
              <input
                [ngModel]="price"
                (ngModelChange)="onPriceChange($event)"
                type="range"
                name="price"
                min="100"
                max="2000"
              />
              <p>{{ price | currency: 'USD' }}</p>
            </div>
          </div>

          <div class="size">
            <h5>Size</h5>
            <div *ngIf="filterSizes | async as chosenSizes" class="sizes">
              <button
                [ngClass]="{ selected: chosenSizes.includes(size) }"
                (click)="onSelectSize(size)"
                *ngFor="let size of sizes"
              >
                {{ size }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="filteredProducts | async as products" class="clr-col-md-9">
      <app-display-products [products]="products"></app-display-products>
      <div *ngIf="showLoadMore(products)" class="load-more-button-area">
        <button (click)="onLoadMore()" class="btn btn-primary">
          Load more
        </button>
      </div>
    </div>
  </div>
</div>
