<div class="container">
  <h3>Your cart</h3>

  <div class="main-table">
    <table>
      <thead>
        <th [colSpan]="2">Product</th>
        <th>Quantity</th>
        <th>Size</th>
        <th>Price</th>
      </thead>
      <tbody>
        <tr *ngFor="let cartItem of cart">
          <td [colSpan]="2">
            <div class="product">
              <img
                [src]="displayImagePath(cartItem?.product)"
                alt="Product image"
                width="100"
              />
              <div>
                <span class="product-name">{{ cartItem?.product?.name }}</span
                ><br />
                <span>{{ cartItem?.product?.price | currency: 'USD' }}</span
                ><br />
                <clr-icon class="is-solid" shape="trash" size="24"></clr-icon>
              </div>
            </div>
          </td>
          <td>
            <div class="form-control">
              <span class="quantity-form">
                <span (click)="onDecreaseQuantity(cartItem)" class="input-control">-</span>
                <input
                  [value]="cartItem?.cartItem.quantity"
                  name="quantity"
                  type="text"
                />
                <span (click)="onIncreaseQuantity(cartItem)" class="input-control">+</span>
              </span>
            </div>
          </td>
          <td>{{ cartItem?.cartItem.size }}</td>
          <td>
            {{
              cartItem?.cartItem.quantity * cartItem?.product.price
                | currency: 'USD'
            }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="total-cost">
    <div>Total</div>
    <div>{{ totalCost | currency: 'USD' }}</div>
  </div>
</div>
