<clr-main-container>
  <div class="pre-header" *ngIf="!isLandingPage">
    <img routerLink="/" alt="Reigans logo" src="/assets/img/reigans-logo.png" />
  </div>
  <clr-header *ngIf="!isLandingPage">
    <div class="branding"></div>
    <div class="header-nav" [clr-nav-level]="1">
      <a class="active nav-link" href="#">
        <span class="nav-text">Home</span>
      </a>
      <a class="nav-link" href="#">
        <span class="nav-text">All Clothes</span>
      </a>
      <a class="nav-link" href="#">
        <span class="nav-text">Co Ord Set</span>
      </a>
      <a class="nav-link" href="#">
        <span class="nav-text">Three Piece Set</span>
      </a>
      <a class="nav-link" href="#">
        <span class="nav-text">Dress</span>
      </a>
      <a class="nav-link" href="#">
        <span class="nav-text">Gown</span>
      </a>
      <a class="nav-link" href="#">
        <span class="nav-text">About us</span>
      </a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button
          class="nav-icon"
          clrDropdownTrigger
          aria-label="toggle shopping-bag menu"
        >
          <clr-icon shape="shopping-bag"></clr-icon>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a href="#" clrDropdownItem>
            Items in cart:
            <span class="badge badge-info">5</span>
          </a>
          <div class="dropdown-divider" role="separator"></div>
          <a href="#" clrDropdownItem>View cart</a>
          <a href="#" clrDropdownItem>Clear cart</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>

  <div id="content-container" class="content-container">
    <main id="content-area" class="content-area">
      <router-outlet></router-outlet>
    </main>
  </div>
</clr-main-container>
