<div class="content-container">
  <div *ngIf="product | async as selectedProduct" class="clr-row">
    <div class="clr-col-md-6">
      <app-display-product-images
        [images]="selectedProduct?.images"
      ></app-display-product-images>
    </div>
    <div class="clr-col-md-6">
      <app-display-product-info
        (reviewProduct)="onReviewProduct($event, selectedProduct)"
        (addItemToCart)="onAddItemToCart($event, selectedProduct)"
        [product]="selectedProduct"
      ></app-display-product-info>
    </div>
  </div>
</div>
