:host {
  display: block;
  height: 100vh;
  background-image: url('/assets/img/bg.jpg');
  background-size: cover;
}

.base-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  div {
    animation: fadein 1.2s ease-in;

    img {
      width: 32vh;
    }

    .btn-group {
      button {
        background-color: darkgoldenrod;
        color: #f8f9fa;
        border: none;
        border-radius: 50px;
        font-weight: bold;
        min-width: 167px;
        padding: 18px 47px 14px;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
          color: #343a40;
        }
      }

      button.first {
        margin-right: 2vw;
      }
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
