.item {
  box-sizing: border-box;
}

.tile {
  min-height: 54vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  .btn-group {
    margin-top: 2vh;

    .btn {
      background-color: #343a40;
      color: #f8f9fa;
      border: 2px solid #343a40;
      border-radius: 32px;
      font-weight: bold;

      &:hover,
      &.active {
        color: #343a40;
        background-color: #f8f9fa;
        border: 2px solid #343a40;
      }
    }

    .btn.first {
      margin-right: 2vw;
    }
  }
}

.ad-section {
  .clr-row {
    width: 100%;
    height: 6vh;

    .clr-col-4 {
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      padding-top: 8px;

      clr-icon {
        margin-right: 1vw;
      }
    }

    .clr-col-4.center {
      background-color: darkgoldenrod;
      color: white;
    }
  }
}

h1.display-products-heading {
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  margin: 46px 0;
}

app-filter-buttons-section {
  margin-bottom: 46px;
}

.load-more-button-area {
  display: flex;
  justify-content: center;

  button.btn {
    color: #343a40;
    border: 2px solid #343a40;
    border-radius: 24px;
    font-weight: bold;

    &:hover{
      color: #f8f9fa;
      background-color: #343a40;
    }
  }
}

/* Break point styles */

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .tile {
    min-height: 72vh;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile */
  span {
    display: none;
  }
}
