<ngu-carousel
  #homeCarousel
  [inputs]="carouselConfig"
  [dataSource]="carouselItems | async"
>
  <div *nguCarouselDef="let item" class="item">
    <div class="tile" [style.background-image]="getUrlStyle(item.url)">
      <div class="content-area">
        <div class="clr-row">
          <div class="clr-col-md-6">
            <h4>Header</h4>
            <h2>Title</h2>
            <h4>Text</h4>
            <div class="btn-group btn-primary">
              <button appScrollTo="app-display-products" class="btn first">
                View more
              </button>
              <button [routerLink]="['/home']" class="btn">
                Purchase now
              </button>
            </div>
          </div>
          <div class="clr-col-md-6"></div>
        </div>
      </div>
    </div>
  </div>
</ngu-carousel>
<div class="content-container ad-section">
  <div class="clr-row">
    <div class="clr-col-4">
      <clr-icon size="24" shape="credit-card"></clr-icon>
      <span>Fast and secure payments</span>
    </div>
    <div class="clr-col-4 center">
      <clr-icon size="24" shape="star"></clr-icon>
      <span>Premium products</span>
    </div>
    <div class="clr-col-4">
      <clr-icon size="24" shape="clock"></clr-icon>
      <span>Fast &amp; safe delivery</span>
    </div>
  </div>
</div>
<div class="content-container">
  <div>
    <h1 class="display-products-heading">Latest products</h1>
    <app-display-products [products]="latestProducts | async">
    </app-display-products>
  </div>
</div>
<div class="content-container">
  <div *ngIf="topSellingProducts | async as tsp">
    <h1 class="display-products-heading">Top selling products</h1>
    <app-filter-buttons-section
      [categories]="categories | async"
      (filterByCategory)="onFilterByCategory($event)"
    ></app-filter-buttons-section>
    <app-display-products [products]="tsp"></app-display-products>
    <div
      *ngIf="tsp?.length < this.allProducts.length"
      class="load-more-button-area"
    >
      <button (click)="onLoadMore()" class="btn btn-primary">Load more</button>
    </div>
  </div>
</div>
