/* You can add global styles to this file, and also import other style files */

// Load more buttons
.load-more-button-area {
  display: flex;
  justify-content: center;

  button {
    color: #343a40;
    border: 2px solid #343a40;
    border-radius: 50px;
    font-weight: bold;
    min-width: 167px;
    padding: 18px 47px 14px;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      color: #f8f9fa;
      background-color: #343a40;
    }
  }
}

// Customize clr accordion
.clr-accordion-header {
  background-color: white;
  border: none;
}

.clr-accordion-panel:last-child .clr-accordion-content,
.clr-accordion-panel:last-child .clr-accordion-header {
  border-bottom: none;
}
