<a href="#">
  <div class="img-container">
    <div>
      <span class="badge">
        <strong>On sale</strong>
      </span>
    </div>
    <div class="product-links">
      <a class="add-to-cart" href="#">
        <clr-icon shape="shopping-bag"></clr-icon>
        <span>Add to cart</span>
      </a>
      <a class="add-to-wishlist" href="#">
        <clr-icon shape="heart"></clr-icon>
      </a>
    </div>
  </div>
</a>
<div class="text-container">
  <span>{{ product.name }}</span>
  <span
    ><strong>{{ product.price | currency: 'USD' }}</strong></span
  >
</div>
